name: couldai_user_app
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  # Dependencias añadidas para la funcionalidad solicitada
  url_launcher: ^6.2.5    # Para abrir enlaces AceStream externos
  file_picker: ^8.0.0     # Para subir archivos M3U
  video_player: ^2.8.6    # Reproductor base
  chewie: ^1.8.1          # UI para el reproductor de video
  provider: ^6.1.2        # Gestión de estado (Favoritos/Listas)
  http: ^1.2.1            # Para leer listas M3U desde URL (opcional)

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
